<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
        <p>Congratulations your new BFF's name is {{petName}}! </p>
        <p>You paid ${{amount}}</p>
        <p>Proud Pete's Pet Emporium and {{petName}} thanks you!</p>
    </div>
</body>
</html>